= form_for @group do |f|
  - if @group.errors.any?
    .chat-group-form__errors
      %h2
        = "#{@group.errors.count}件のエラーです。"
      %ul
      - @group.errors.full_messages.each do |msg|
        %li=msg

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{for: "chat_group_name"} グループ名
    .chat-group-form__field--right
      = f.text_field(:name, id: "chat_group_name", class: "chat-group-form__input", placeholder: "グループ名を入力してください", type: "text")

    .chat-group-form__field--left
      %label.chat-group-form__label{for: "chat_group_チャットメンバーを追加"} チャットメンバーを追加
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        / %input#user-search-field.chat-group-form__input{placeholder: "追加したいユーザー名を入力してください", type: "text", autocomplete: "off"}
        = text_field(:test, :test, placeholder: "追加したいユーザー名を入力してください", type: "text", autocomplete: "off", id: "user-search-field", class: "chat-group-form__input")
      #user-search-result

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{for: "chat_group_チャットメンバー"} チャットメンバー

    .chat-group-form__field--right
      #chat-group-users
        .chat-group-user.clearfix{"data-user-id": "#{current_user.id}"}
          %input{"name": "group[user_ids][]", "type": "hidden", "value": "#{current_user.id}"}
          %p.chat-group-user__name
            =current_user.name

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit(class: "chat-group-form__action-btn", "data-disable-with": "Save", name: "commit", type: "submit", value: "Save")
